canvas {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#canvas_area {
    width: 600px;
    height: 400px;
    margin: 0;
}

body {
    margin: 0px;
    background: #222;
    /* Prevents pinch-zoom under chrome */
    touch-action: none;
}

