
<ion-menu side="start" type="push" contentId="content" menuId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>AP-Dungeon</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Some item</ion-item>
      <ion-item>Another item</ion-item>

      <ion-item button (click)="handleClose()">
        Back to the game
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content #content id="content">
  
<!--  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="handleMenu()">
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
  
  <div #playarea class="canvas_area">
  </div>
  
</ion-content>
